@{
    Layout = "~/_SiteLayout.cshtml";
}

<img class="banner" src="/Images/banner.jpg" />
<section class="main-margin vertical-padding">
    <h2>What is Musical Medics?</h2>
    <p> We are a musical society made up of a choir, orchestra and various small ensembles. We don't have a minimum standard, never audition 
        and pride ourselves in keeping our rehearsals relaxed and fun so you can get a break from the busy student life. While we were founded 
        by medics, we are now all-inclusive and about half our members come from non-medical degrees. In order to hold onto our medical roots, 
        all the money we raise from our concerts is donated to medical charities. Take a look at the <a href="~/Concerts">Concerts</a> page 
        to see where our recent proceeds have gone and get in touch with our <a href="~/AboutUs#committee">Charities Co-ordinator</a> if you have any suggestions for next tem.
    </p><p>
        We generally perform a range of classical music and more contemporary pieces from film or theatre. Once you become a member, you can borrow digital and paper copies
        of our pieces online from the <a href="~/Library/">Music Library</a>, where you can also suggest/vote on pieces for the coming 
        term. 
    </p><p>
        In recent years we've also had a number of very successful small ensembles, including two Brass Bands (Gwyd and the Brasslets,
        and the Brasstronauts), String Ensemble, Flute Choir and Woodwind Quintet. 
        These groups don't have set rehearsal times so to get involved or start up your own just speak to us at rehearsals.
    </p><p>
        We also have an active social side so you can get to know the people who sit on the other side of the room! We do regular pub nights after 
        rehearsals and generally put on 2-3 socials per semester (see our <a href="~/index">Calendar </a> for our upcoming plans). In the past these have ranged from 
        cultured evenings at the theatre to lazerquest so there really is something for everyone. We also put on either an after-concert or 
        end-of-term ceilidh, which is an event not to be missed.
    </p>
    <h2>How often do you Perform?</h2>
    <p> The whole society comes together twice a year for our Christmas and spring charity concerts. The choir also takes part in the Medical school's 
        Anatomy Memorial Service where we give thanks to the families of those who have donated their bodies to science. 
        </br>We also organise an annual weekend tour which is open to all our members. This usually comprises of two concerts supporting charities that
        are local to the areas we visit. 
    </p>
    <h2>How can I get Involved?</h2>
    <p> At the start of the year you can find us at all the Freshers' fairs - see our <a href="~/index">Calendar </a> for times and locations. Come along and have
        a chat about the society and let us answer any questions you might have. This is also the first chance to sign up to our mailing list
        from which you will get a weekly e-mail about all that is going on.
    </p><p>
        Loads of our members get started by just turning up to a rehearsal. If you don't know anyone, or haven't played your instrument in a 
        while this can be a bit daunting but please don't be put off, we're a friendly bunch and will do our best to make sure you have a great 
        time.
    </p><p>
        You can come and try us out for free but if you would like to come regularly, <b>membership is &pound;10 for the year</b> (an absolute bargin). 
        If you're not studying at Edinburgh, you're also very welcome to join and the membership price is the same. Speak to our 
        <a href="~/AboutUs#committee">Treasurer</a> to pay your dues.
    </p>
    <h2>Where do you Rehearse?</h2>
    <p> We meet every Thursday in Alison House, Nicholson Square. It's just behind Bristo Square.</p>
        <h4 style="text-align: center">Choir 6pm-7:30pm<br/>
        Orchestra 7:30pm-9pm</h4>
        <p>Orchestra meet in Lecture Room A, on the second floor. Go to the top of the stairs, take the door on the left and then go straight ahead. 
            Choir meet in Seminar Room 207.
            For the first few weeks we will make sure there are signs up or people about to point you in the right direction. <br/><br/>
            The doors to Alison House have swipe card access after 5pm so you will need your university card to get in. Your card probably
            won't work straight away but if you buy membership we will make sure we get it activated for you, and for the first few weeks we will
            put someome on door duty to make sure you get in! If you are joining us from outside uni this time just drop us an 
            <a href="~/index">e-mail</a> and we'll sort you out.<br/>
    </p>
</section>
<img class="banner" src="/Images/tourbanner.jpg" />
<section class="main-margin vertical-padding">
    <a href="" id="committee"></a>
    <h2>Our Committee</h2>
    <table id="committeeTable">
        <tr>
            <td><h2>President</h2><img src="Images/jenn.jpg"><h3>Jennifer Patrick<br/>(Violin)</h3>Responsible for the general running of the society and organising concerts.</td>
            <td><h2>Secretary</h2><img src="/Images/Committee/Charis.png"><h3>Charis Duong<br/>(Flute)</h3>Deals with memberships, takes the meeting minutes and write our lovely weekly e-mails.</td>
            <td><h2>Treasurer</h2><img src="/Images/anna.jpg"><h3>Anna Steele<br/>(Flute)</h3>Collects money from memberships and sorts out the funding of our concerts and socials.</td>
         
        <tr>
            <td><h2>Social Secretary</h2><img src="/Images/Committee/unknown3.png"><h3>Tegan McKay<br/>(Clarinet)</h3>Organises our social calender. Let them know if you have any suggestions.</td>
            <td><h2>Publicity Officer</h2><img src="/Images/Committee/unknown4.png"><h3>Jennifer Patrick<br/>(Violin)</h3>Responsible for publicising our concerts and socials.</td>
            <td><h2>Tour Manager</h2><img src="/Images/Committee/Rhiannon.png"><h3>Alice Ostojic (French Horn) <br/>Rhiannon Jones (Oboe)</h3>Responsible of overseeing the organisation of our annual tour.</td>
        </tr><tr>
            <td><h2>Charities Co-ordinator</h2><img src="/Images/Committee/Sinead.png"><h3>Sinead MacKay<br/>(Flute)</h3>Responsible for liaising with our chosen charities. Get in touch if there's a cause you want us to support.</td>
            <td><h2>Orchestral Librarian</h2><img src="/Images/Committee/Amber.png"><h3>Amber-Rose Ness<br/>(Trombone)</h3>Acquires and keeps track of our orchestral music collection. Let them know if you have any music requests.</td>
            <td><h2>Choir Librarian</h2><img src="/Images/Committee/Sarah.png"><h3>Sarah Duncan<br/>(Trumpet/Soprano)</h3>Acquires and keeps track of our choral music collection. Let them know if you have any music requests.</td>
        </tr>
    </table>
</section>
