@{
    Layout = "~/_SiteLayout.cshtml";
}

<h2>Archives</h2>
<p>Musical Medics was founded in 1992 by a group of medical students. Since then, we have opened our membership to musicians from all degrees and university alumni, enjoyed a wealth of small ensemble groups and started an annual tour. In 2017, celebrating our 25th anniversary, we’ve decided to have a look back and put together an archive of our activities over this period. While the recent years are very well documented, changes in membership and ways of sharing information mean we have very little idea what the society was like in its early years. If anyone has any memories or old programmes/photos that are not included here please send them to edinburghmusicalmedics@gmail.com so we can build up at better picture of Musical Medics over time. 
</p>
</br>
<h3>2015-2016</h3>
<p>Over the summer our current website was born. We also added a tour secretary to the committee and returned to the Lake District, this time playing concerts in Maryport and Wigton. We had a great time taking in the scenery, playing even more Mafia and staging a mass return to Clip ‘n Climb. Both concerts combined raised £550 for Maryport lifeboats and Wigton Church youth group. 
</br>We had an interesting time sourcing our Edinburgh concert venues with double bookings and heating breakdowns but despite moving venue the morning of the concert, on Saturday 28th November 2015 in Priestfield church we raised £640 for 500 Miles. Our Spring concert on Saturday 30th April 2016 in Broughton St Mary’s Church raised a further £363 for Samaritans of Edinburgh and the Lothians.
</br>Our small groups went from strength to strength with the need for two brass bands (Gwyd and the Brasslets and the Brasstronauts) to accommodate our rapidly expanding brass section. The Flute choir and the String Ensemble also continued to perform and premiered their own music arrangements at both concerts. 
</p>
<h3>2014-2015</h3>
<p>In a very busy year we welcomed Scott and Ondrej as our new orchestra and choir conductors and held our very first “World” Tour In-and-Around the Lake District where we battled through a snow blizzard to put on concerts in Maryport and Penrith. We featured in a couple of local newspapers and even made it onto BBC Radio Cumbria by tactically supporting their charity of the year; Jigsaw. With this one weekend we raised a phenomenal £1000 for charity and hopefully started a tradition of many tours to come. 
</br>Back home, our Christmas concert on Saturday 29th November 2014 in the Reid Concert Hall featured music from Les Miserables, Pirates of the Caribbean and the Radetsky March raising £573 for MSTC Lothian. We joined Manchester Musical Medics on their own tour to Edinburgh and in the spring performed Wicked, the Blue Danube waltzes and music from Lord of the Rings. The concert on Friday 27th March 2015 raised £521 for Edinburgh Sick Kids Friends Foundation, with the help of an end-of-term ceilidh. We also saw our small ensembles really take off with the founding of a flute choir and woodwind quintet, Gwyd and the Brasslets and the string ensemble. The latter two of these also enjoyed brief fame performing at Malones Bar. 
</br>In a technological breakthrough we also gained our current music library allowing all our members to download their music and suggest and vote on new pieces. The jury is still out on whether this actually improved practice times…
</p>
<h3>2013-2014</h3>
<p>We held our Christmas Concert on Saturday 30th November 2013 in the Reid Concert Hall and raised £400 for It’s Good to Give. For the spring term we managed to get the whole orchestra to join Choir for a mass performance of the Rhythm of Life. Our concert on Saturday 24th March 2014 in the Reid Hall raised £323 for Music in Hospitals Scotland.
</br>We had a couple of meals out and took over the Brass Monkey to watch some films. We also did some carol singing, raising money for Waverley Care and our Tunnocks sponsorship continued to provide lots of snacks for the first semester. 
</p>
<h3>2012-2013</h3>
<p>We gained a sponsorship deal with Tunnocks to fuel our rehearsal breaks and got the music for Sweeny Todd and Jurassic Park. We rounded off the year by joining <a href="https://twitter.com/eumusicalmedics">Twitter</a> but it never really got going and to date we only have one tweet! 
</br>On Saturday 23rd December 2012 our Christmas Concert at Augustine United Church raised £300 for Heart and Minds and in the Spring we made £365 for Penumbra.
</br>Our first rehearsal finished at the RMS where we held a number of increasingly ridiculous team games including a toilet-roll cat walk. We also had our annual Christmas meal at Red Fort and did a spot of carol singing
</p>
<h3>2011-2012</h3>
<p>A new chamber choir replaced the girls’ choir and we gained our current Facebook group. A group super-keen of first years founded the Walking Bus and Orchestra’s Biscuit Committee and our performance at the Anatomy Memorial Service became a regular event. 
</br>Our Christmas Concert and Ceilidh on Friday 16th December 2011 in the Reid Hall raised £400 for Health in Mind. In the spring we preformed on Saturday 31st March 2012 raising £320 for a sadly undocumented charity.
</br>We had a Christmas dinner at King Balti, went carol singing to raise money for Carr Gomm and explored the German Christmas Market. In Semester two we saw Sweeney Todd at Churchill Theatre.
</p>
<h3>2010-2011</h3>
<p>Our current logo was designed over the summer. Music featured Scarborough Fair and the Sorcerer’s Apprentice and we actually held auditions for the leaders of the 1st and 2nd violins. There is no further mention of the quintet but girls’ choir carried on and for the Christmas concert we gained a new flute ensemble.
</br>On 12th December 2010 we dressed up in lab coats and stethoscopes and sang “Please Just Go” on the roof of Princes Street Mall to promote the flu jab. We even made it into the Guardian and you can watch the whole performance on <a href="https://www.youtube.com/watch?v=rxL0hvdpTaY">YouTube!</a> This was also the first year that we sang for the Medical School’s Anatomy Memorial Service.
</br>The Christmas Concert and Ceilidh on Friday 17th December 2010 in Augustine United Church received a standing ovation and raised £470 for Fight Against Cancer Edinburgh (FACE). In the Spring we performed You’ve got a friend in Me (Toy Story), Tallis: If ye love me, Carmen’s Suite No.1, Elgar’s Bavarian Dances and Butterworth’s Banks of Green Willow. The concert was held on Thursday 24th March 2011 in the Reid Hall and, combined with our after-concert-ceilidh, raised £400 for the Japan Earthquake Relief Fund. 
</p>
<h3>2009-2010</h3>
<p>Our <a href="http://groupspaces.com/musicalmedics/">GroupSpaces</a> account came into being. Membership was £10 per year and we rehearsed on Thursday evenings in Alison House lecture rooms A/B. Very little has changed! We had an orchestra, choir and the addition of a girls’ choir and quintet. The committee was formed of 7 members, interestingly with no orchestra librarian (hopefully that was a misprint!) or charities co-ordinator. 
</br>We held our Christmas Concert on Friday 18th December 2009 in Augustine United Church, followed by a ceilidh in the RMS. In the spring, we performed in the Reid on Friday 26th March 2010, featuring Danse Macabre with some music from Beethoven and Vivaldi, again with an after-concert ceilidh. 
</br>On the social side there was a many-times-postponed-and-eventually-cancelled giant Cludo pub-crawl, a Christmas meal at 56 North and society hoodies. In the spring term we had a curry night at Red Fort, an end-of-term outing to North Berwick beach and we saw the Amateur Transplants on tour to Edinburgh. 
</p>
</br>
<p>...</p>
<h3>1992</h3>