@{
    Layout = "~/_SiteLayout.cshtml";
}

@* using this as a test page as it's no longer attached to the main website, original text is at the bottom just in case!*@
<section id="loginForm">
   <h2>Welcome to the website bla bla bla</h2> 
    <p>Lots of text</p>
    <p>Lots of text</p>
    <p>Lots of text</p>
    <p>Lots of text</p>
    <p>Lots of text</p>
    <p>Lots of text</p>
    <p>Lots of text</p>
    <p>Lots of text</p>
    </section>
<section id="SocialLoginForm">
    <p>text</p>
    <div class="responsive-iframe-container">
    <iframe src="https://calendar.google.com/calendar/embed?height=500&amp;wkst=1&amp;bgcolor=%23ff6666&amp;src=edinburghmusicalmedics%40gmail.com&amp;color=%23B1440E&amp;ctz=Europe%2FLondon" style="border:solid 1px #777" width="40%" height="500" frameborder="0" scrolling="no"></iframe>
    </div>
</section>


    
    <h1>Our Charities</h1>
    Every semester we donate all the money from our concerts to charity. These charities are chosen by our members, and we encourage everyone 
    to suggest charities, and to vote on the final decision which will be made early in the term. If you're passionate about a cause please let 
    us know, or speak to our <a href="~/AboutUs#committee">Charities Co-ordinator </a>
    <br/><br/>
        <img src="/Images/charityLogos.png" style="width: 100%">
    <h3>Spring 2016 &nbsp;<a href="http://samaritans.org/your-community/samaritans-work-scotland">Samaritans of Edinburgh and the Lothians</a></h3>
       With this concert we raised &pound;365 for our local branch of the Samaritans who give support to people who are struggling to cope, with the vision that fewer people will die by suicide.
       They provide 24 hour phone support, run workshops for children and young people, and support communities after a suicide
    <h3>Lake District Tour 2016</h3>
        With our second Cumbrian Tour we held concerts in Maryport and Wigton, raising money for the local lifeboat service and for a church youth group. 
           Our concerts came just after devastating floods hit the local communities where the lifeboat volunteers played a key part in evacuating people from their
            homes to safety. With both concerts, we were delighted to donate &pound;550 to these causes.
    <h3>Christmas 2015 &nbsp;<a href="http://500miles.co.uk/">500 Miles</a></h3>
        Our Christmas concert and ceilidh were a huge success raising &pound;640 for 500 Miles. This charity was founded by a local woman who lost her 
            limbs, so that people in Sub-Saharan Africa could get the same quality of prosthetic limbs as she was able to benefit from here in the UK. The charity
            has made a huge difference to the lives of many people.
    <h3>Spring 2015 &nbsp;<a href="http://edinburghsickkids.org/">Edinburgh Sick Kids' Friends Foundation</a></h3>
        Our spring concert (and end of term ceilidh) raised &pound;520 for the Sick Kids' Friends, a charity who support the work of the Royal Hospital for Sick Children in 
            Edinburgh. They help to provide comforts and distractions for the patients and their families as well as funding new state of the art
            equipment and specialist training for staff.
    <h3>Lake District Tour 2015</h3>
        We supported three causes on our first ever tour and it was a record breaking success. In Maryport we raised &pound;400 for Radio Cumbria's Jigsaw 
        appeal. This money went to Jigsaw, a Cumbrian children's hospice who provide support to local children with life-threatening illnesses. With 
        our second concert, in Penrith, we managed a staggering &pound;600 which was split equally between restoration of St Andrew's church organ and 
        Valore Hospital in India, founded by members of the congregation to provide free medical care. With &pound;1000 raised for charity this was an 
        amazingly successful weekend and we hope it will be the first of many such tours.
    <h3>Christmas 2014 &nbsp;<a href="http://mstc-lothian.org.uk/">MSTC Lothian</a></h3> 
        We raised a fantastic total of &pound;570 with our Christmas concert to support MSTC Lothian. The charity provide a support and therapy centre in 
        Edinburgh for people with Multiple Sclerosis and their families.
    <h3>Spring 2014 &nbsp;<a href="http://musicinhospitalsscotland.org.uk/">Music In Hospitals, Scotland</a></h3>
        This time we supported Music in Hospitals Scotland and managed to raise &pound;320. They are a charity who put on live music concerts in hospitals, 
        hospices, care homes, day centres and special needs schools. Through this they aim to bring the benefits of live music to those who need it most. 
        The money that was raised was used to fund a concert at the Sick Kids 
        hospital here in Edinburgh. 
    <h3>Christmas 2013 &nbsp;<a href="http://itsgood2give.co.uk/">It's Good 2 Give</a></h3> We raised &pound;450 for this fantastic cause, a figure which we're all incredily proud of. They are a 
        relatively small local charity who support young people and their families through cancer. Their long term aim is to raise &pound;1 million to build a 
        purpose built respite home to allow families to take a break together. 
    <h3>Spring 2013 &nbsp;<a href="http://penumbra.org.uk/">Penumbra</a></h3> 
        With our 2013 Spring Concert we raised &pound;365 for Penumbra, a charity that aims to promote mental health and well being in Scotland. 
    <h3>Christmas 2012 &nbsp;<a href="http://heartsminds.org.uk/">Hearts and Minds</a></h3>
        For Christmas 2012, we supported Hearts and Minds, and raised over &pound;300. They are a charity that uses performing arts to improve the experience 
        of people in hospital or care. 
</section>
