@{
    Layout = "~/_SiteLayout.cshtml";
}
<section class="main-margin vertical-padding">
    Every semester we choose a different medical charity to support and donate the proceeds from our concerts to. We haven't yet chosen a charity to support
    for the coming term so if you're passionate about a cause let us know, or speak to our <a href="~/AboutUs#committee">Charities Co-ordinator </a><br/><br/>
    We encourage all our members to suggest charities, and to vote on the final decision which will be made early in the term. 
    <img src="/Images/charityLogos.png" style="width: 100%">
    <h3>Spring 2015 &nbsp;<a href="http://edinburghsickkids.org/">Edinburgh Sick Kids' Friends Foundation</a></h3>
        Our most recent concert (and end of term ceilidh) raised &pound;520 for the Sick Kids' Friends, a charity who support the work of the Royal Hospital for Sick Children in 
            Edinburgh. They help to provide comforts and distractions for the patients and their families as well as funding new state of the art
            equipment and specialist training for staff.
    <h3>Lake District Tour 2015</h3>
        <p>We supported three causes on our first ever tour and it was a record breaking success. In Maryport we raised &pound;400 for Radio Cumbria's Jigsaw 
        appeal. This money went to Jigsaw, a Cumbrian children's hospice who provide support to local children with life-threatening illnesses. With 
        our second concert, in Penrith, we managed a staggering &pound;600 which was split equally between restoration of St Andrew's church organ and 
        Valore Hospital in India, founded by members of the congregation to provide free medical care. With &pound;1000 raised for charity this was an 
        amazingly successful weekend and I hope it will be the first of many such tours.
        </p>
    <h3>Christmas 2014 &nbsp;<a href="http://mstc-lothian.org.uk/">MSTC Lothian</a></h3> 
        We raised a fantastic total of &pound;572 with our Christmas concert to support MSTC Lothian. The charity provide a support and therapy centre in 
        Edinburgh for people with Multiple Sclerosis and their families.
    <h3>Spring 2014 &nbsp;<a href="http://musicinhospitalsscotland.org.uk/">Music In Hospitals, Scotland</a></h3>
        This time we supported Music in Hospitals Scotland and managed to raise &pound;323. They are a charity who put on live music concerts in hospitals, 
        hospices, care homes, day centres and special needs schools. Through this they aim to bring the benefits of live music to those who need it most. 
        The money that was raised was used to fund a concert at the Sick Kids 
        hospital here in Edinburgh. You can find out more about their work at: www.musicinhospitalsscotland.org.uk
    <h3>Christmas 2013 &nbsp;<a href="http://itsgood2give.co.uk/">It's Good 2 Give</a></h3> We raised &pound;458 for this fantastic cause, a figure which we're all incredily proud of. They are a 
        relatively small local charity who support young people and their families through cancer. Their long term aim is to raise &pound;1 million to build a 
        purpose built respite home to allow families to take a break together. Check out their website for lots more info: www.itsgood2give.co.uk
    <h3>Spring 2013 &nbsp;<a href="http://penumbra.org.uk/">Penumbra</a></h3> 
        With our 2013 Spring Concert we raised &pound;365 for Penumbra, a charity that aims to promote mental health and well being in Scotland. You can find 
        out more about their work here: www.penumbra.org.uk
    <h3>Christmas 2012 &nbsp;<a href="http://heartsminds.org.uk/">Hearts and Minds</a></h3>
        For Christmas 2012, we supported Hearts and Minds, and raised over &pound;300. They are a charity that uses performing arts to improve the experience 
        of people in hospital or care. Check out their website here: www.heartsminds.org.uk
</section>
