@{
    Page.Title = "Music";
    Layout     = "~/_SiteLayout.cshtml";
}

<div>
    <hgroup class="title">
        <h1>Semester 1</h1>
        <h2>Grieg & Zimmer</h2>
    </hgroup>
    <h3>Winter Concert - Saturday, 28th November</h3>

    <section id="loginForm">
        <ol class="round">
            <li>
                <p><b>Music from Gladiator</b></p>
                <p>Hans Zimmer</p>
                <p>Orchestra</p>
            </li>
            <li>
                <p><b>Peer Gynt Suite - Morning Mood</b></p>
                <p>Edvard Grieg</p>
                <p>Orchestra</p>
            </li>
            <li>
                <p><b>Peer Gynt Suite - In the Hall of the Mountain King</b></p>
                <p>Edvard Grieg</p>
                <p>Orchestra</p>
            </li>
        </ol>
    </section>
    <section id="socialLoginForm">
        <ol class="round">
            <li>
                <p><b>Frozen (Choral Highlights)</b></p>
                <p>Kristen Anderson-Lopez, Robert Lopez</p>
                <p>Choir</p>
            </li>
            <li>
                <p><b>Ecce Homo [Qui Est Faba]</b></p>
                <p>Howard Goodall</p>
                <p>Choir</p>
            </li>
            <li>
                <p><b>Ave Verum Corpus</b></p>
                <p>William Byrd</p>
                <p>Choir</p>
            </li>
        </ol>
    </section>
</div>
