@{
    Page.Title = "Music";
    Layout     = "~/_SiteLayout.cshtml";
}

<div>
    <hgroup class="title">
        <h1>Semester 2</h1>
        <h2>Dvorak & Williams</h2>
    </hgroup>
    <h3>Spring Concert - Saturday, 30th April</h3>

    <section id="loginForm">
        <ol class="round">
            <li>
                <p><b>New World Symphony</b></p>
                <p>Dvorak</p>
                <p>Orchestra</p>
            </li>
            <li>
                <p><b>Highlights from Jurassic Park</b></p>
                <p>John Williams</p>
                <p>Orchestra</p>
            </li>
            <li>
                <p><b>Music from Star Wars</b></p>
                <p>John Williams arr. James Renwick</p>
                <p>String Ensemble</p>
            </li>
            <li>
                <p><b>Concerning Hobits & Misty Mountains</b></p>
                <p>Howard Shore</p>
                <p>Gwyd and the Brasslets</p>
            </li>
            <li>
                <p><b>Pavane</b></p>
                <p>Faure arr. C. Marsh</p>
                <p>Flute Choir</p>
            </li>
            <li>
                <p><b>Don't Stop Me Now</b></p>
                <p>Freddie Mercury</p>
                <p>The Brasstronauts</p>
            </li>
        </ol>
    </section>
    <section id="socialLoginForm">
        <ol class="round">
            <li>
                <p><b>Don't Stop Believing</b></p>
                <p>Journey</p>
                <p>Choir</p>
            </li>
            <li>
                <p><b>Seasons of Love</b></p>
                <p>Jonathan Larson</p>
                <p>Choir</p>
            </li>
            <li>
                <p><b>Champions League Theme</b></p>
                <p>Tony Britten</p>
                <p>Choir</p>
            </li>
        </ol>
    </section>
</div>
