@{
    Layout = "~/_SiteLayout.cshtml";
}

<script type="text/javascript">

    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min)) + min;
    }    

    var info = [
		["../Images/grieg.jpg",
		'<h2>Edvard Grieg & Peer Gynt</h2>' +
		'<b>Winter Concert 2015</b>'+
        '<p>Peer Gynt, Op. 23 is the incidental music to Henrik Ibsen\'s 1867 play of the same name, written by the Norwegian composer Edvard Grieg in 1875. Later, in 1888 and 1891, Grieg extracted eight movements to make two four-movement suites: Suite No. 1, Op. 46, and Suite No. 2, Op. 55.</p>' +
		
		'<b>Morning Mood (Morgenstemning)</b>'+
		'<p>The piece depicts the rising of the sun during act 4, scene 4, of Ibsen\'s play, which finds the eponymous hero stranded in the Moroccan desert after his companions took his yacht and abandoned him there while he slept. The scene begins with the following description: <em>A grove of palms and acacias at dawn. Peer Gynt is up a tree, protecting himself with a broken-off branch from a swarm of apes.</em></p>' +
		
		'<b>In the Hall of the Mountain King (I Dovregubbens hall)</b>'+
		'<p>The piece is played as the title character Peer Gynt, in a dream-like fantasy, enters "Dovregubben (the troll Mountain King)\'s hall". The scene\'s introduction continues: <em>There is a great crowd of troll courtiers, gnomes and goblins. Dovregubben sits on his throne, with crown and sceptre, surrounded by his children and relatives. Peer Gynt stands before him. There is a tremendous uproar in the hall.</em> The lines sung are the first lines in the scene.</p>' +
		'<p>Grieg himself wrote "For the Hall of the Mountain King I have written something that so reeks of cowpats, ultra-Norwegianism, and \'to-thyself-be-enough-ness\' that I can\'t bear to hear it, though I hope that the irony will make itself felt."</p>'],

        ["../Images/Charities1415.jpg",
        '<h2>Our Charities 2014-15</h2>'+
        '<b>Spring 2015 &nbsp;<a href="http://edinburghsickkids.org/">Edinburgh Sick Kids\' Friends Foundation</a></b>'+
        '<p>Our spring concert (and end of term ceilidh) raised &pound;520 for the Sick Kids\' Friends, a charity who support the work of the Royal Hospital for Sick Children in Edinburgh. They help to provide comforts and distractions for the patients and their families as well as funding new state of the art equipment and specialist training for staff.</p>'+
        '<b>Lake District Tour</b>'+
        '<p>We supported three causes on our very successful first tour. In Maryport we raised &pound;400 for Jigsaw, a local children\'s hospice who support children with life-threatening illnesses. With our second concert, in Penrith, we managed a staggering &pound;600 which was split between restoration of St Andrew\'s church organ and Valore Hospital in India, founded by members of the congregation to provide free medical care.</p>'+
        '<b>Christmas 2014 &nbsp;<a href="http://mstc-lothian.org.uk/">MSTC Lothian</a></b>'+
        '<p>We raised a fantastic total of &pound;570 with our Christmas concert to support MSTC Lothian. The charity provide a support and therapy centre in Edinburgh for people with Multiple Sclerosis and their families.</p>'],
        
        ["../Images/DvorakNewWorld.jpg",
        '<h2>Dvorak New World Symphony</h2>'+
        '<b>Spring Concert 2016</b>'+
        '<p>Symphony No. 9 "From the New World" is easily Dvorak\'s most popular work, composed in 1893 from the influences of Native American and African-American spiritual music. Reflecting on these influences Dvorak explained: "I have simply written original themes embodying the peculiarities of the Indian music, and, using these themes as subjects, have developed them with all the resources of modern rhythms, counterpoint, and orchestral colour".</p>'+
        '<p>Many of the themes from this symphony are widely recognised today from their use in films and advertising. </p>'],
        
        ["../Images/Charities1516.jpg",
        '<h2>Our Charities 2015-16</h2>'+
        '<b>Spring 2016 &nbsp;<a href="http://samaritans.org/your-community/samaritans-work-scotland">Samaritans of Edinburgh and the Lothians</a></b>'+
        '<p>With this concert we raised &pound;365 for our local branch of the Samaritans who give support to people who are struggling to cope, with the vision that fewer people will die by suicide. They provide 24 hour phone support, run workshops for children and young people, and support communities after a suicide</p>'+
        '<b>Lake District Tour</b>'+
        '<p>With our second Cumbrian Tour we held concerts in Maryport and Wigton, raising money for the local lifeboat service and for a church youth group. Our concerts came just after devastating floods hit the local communities where the lifeboat volunteers played a key part in evacuating people from their homes to safety. With both concerts, we were delighted to donate &pound;550 to these causes.</p>'+
        '<b>Christmas 2015 &nbsp;<a href="http://500miles.co.uk/">500 Miles</a></b>'+
        '<p>Our Christmas concert and ceilidh were a huge success raising &pound;640 for 500 Miles. This charity was founded by a local woman who lost her limbs, so that people in Sub-Saharan Africa could get the same quality of prosthetic limbs as she was able to benefit from here in the UK. The charity has made a huge difference to the lives of many people. </p>'],
        
        ["../Images/JurassicStarWars.jpg",
        '<h2>John Williams</h2>'+
        '<b>Spring Concert 2016</b>'+
        '<p><b>Highlights from Jurassic Park</b></p>'+
        '<p>The full film score from Jurassic Park contains a vast variety of themes ranging from the opening classic intended to "capture the awesome beauty and sublimity of the dinosaurs in nature" to "wild orchestral and choral things; the idea was to shake the floor and scare everybody".</p>'+
        '<b>Music from Star Wars</b>'+
        '<p>Arranged for String Ensemble by our own James Renwick, the Star Wars themes draw on an eclectic variety of musical styles that grew over the many films. On this evolution Williams reflects “it\'s a bit like adding paragraphs to a letter that\'s been going on for a number of years. It\'s an extension of something that\'s been really organic and continually growing."</p>'
        ]
    ]

    var infoIndex = getRandomInt(0, info.length);
    
    function loadInfo(index)
    {
        if (info.length == 0) return;

        var banner = document.getElementById("infobanner");
        var host   = document.getElementById("info_host");

        banner.style.backgroundImage = 'url(' + info[index][0] + ')';
        host.innerHTML               = info[index][1];
    }

    function infoLeft()
    {
        if (--infoIndex == -1) { 
            infoIndex = info.length - 1;
        }
        loadInfo(infoIndex)
    }
    function infoRight()
    {
        if (++infoIndex == info.length) { 
            infoIndex = 0;
        }
        loadInfo(infoIndex)
    }


    loadInfo(infoIndex)
</script>
@section infobanner {
<div id="infobanner">
    <div class="arrowL" onclick="infoLeft()"></div>
    <div class="arrowR" onclick="infoRight()"></div>
    <div id="info_host" class="overlay"></div>
</div>
}

<div>
    <h1>Concerts</h1>
    <p>We use all our concerts to raise money for charity, with a focus on local medical causes. Our charities are chosen by our members
        through a vote early in the term, so if you are passionate about a cause please speak to our <a href="~/AboutUs#committee">Charities Co-ordinator</a>. You can see
    some of the charities we have supported in the past in the slideshow above.</p>
    <hgroup class="title">    
    <h2>Winter Concert</h2>
    <h3>Sunday, 27th November 2016
    </br>In Aid of It's Good to Give</h3>
    </hgroup>
    <section id="loginForm">
        <ol class="round">
            <li>
                <p><b>Hungarian Dances</b></p>
                <p>Brahms</p>
                <p>Orchestra</p>
            </li>
            <li>
                <p><b>Symphony No. 5</b></p>
                <p>Beethovan</p>
                <p>Orchestra</p>
            </li>
            <li>
                <p><b>Music from Titanic</b></p>
                <p>James Horner</p>
                <p>Orchestra</p>
            </li>
            <li>
                <p><b>Themes by James Newton Howard</b></p>
                <p>Arr. James Renwick & Amber-Rose Ness</p>
                <p>String Ensemble</p>
            </li>
            <li>
                <p><b>Test Drive (How to Train Your Dragon)</b></p>
                <p>John Powell arr. Charis Duong</p>
                <p>Flute Choir</p>
            </li>
            <li>
                <p><b>Friend Like Me (Alladin)</b></p>
                <p>Alan Menken</p>
                <p>Brass Band</p>
            </li>
        </ol>
    </section>
    <section id="socialLoginForm">
        <ol class="round">
            <li>
                <p><b>The Lion King</b></p>
                <p>Broadway Medley</p>
                <p>Choir</p>
            </li>
            <li>
                <p><b>A Clare Benediction</b></p>
                <p>Rutter</p>
                <p>Choir</p>
            </li>
            <li>
                <p><b>Stand By Me</b></p>
                <p>Ben E. King</p>
                <p>Choir</p>
            </li>
            <li>
                <p><b>Libera Me</b></p>
                <p>Faure Requeim</p>
                <p>Choir</p>
            </li>
            </li>
        </ol>
    </section>
</div>