@{
    Layout = "~/_SiteLayout.cshtml";
}

<script type="text/javascript">

    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min)) + min;
    }    

    var info = [
		["../Images/ItsGood2Give.jpg",
		'<h2>Our Charities: &nbsp;<a href="http://www.itsgood2give.co.uk/">It’s Good 2 Give</a></h2>' +
		'<p>It’s Good to Give are a young local charity aiming to support children and young people with cancer. Their long term aim is to build a respite house for young people and their families and excitingly work has recently started on the construction. They were our chosen charity for our 2016 Winter Concert which raised £284 and featured the famous first movement from Beethoven’s 5th symphony, alongside Brahms’ Hungarian Dances and medleys from the Lion King, Aladdin and How To Train Your Dragon.</p>'],
        
        ["../Images/WaverleyCare.jpg",
        '<h2>Our Charities:  &nbsp;<a href="http://www.waverleycare.org/">Waverley Care</a></h2>'+
        '<p>In the run up to Christmas we’re big fans of sharing festive musical joy, and doing a bit of fundraising on the side! We’ve had our choir and brass band blasting out the tunes over the Edinburgh Christmas Market, and in 2016 we had a lovely captive audience when we sang in the middle of the St Andrew’s Square ice rink. Even better, the crowds seem to have enjoyed it and over the last two years we have raised £240 for Waverley Care who support people living with HIV and Hepatitis C throughout Scotland.</p>'],
        
        ["../Images/TourGroup.jpg",
        '<h2>Our Charities: &nbsp;<a href="https://www.ijm.org/">International Justice Mission</a> and &nbsp;<a href="https://www.thebraintumourcharity.org/">the Brain Tumour Charity</a></h2>'+
        '<p>In January 2017 our third annual tour went north to Aberdeenshire. We had a fantastic time exploring this beautiful part of Scotland and eating enormous ice creams by the beach. We also put on two concerts in Banchory and Stonehaven, which were really well received and raised £470 for our two charities. The International Justice Mission is a global charity working to protect the world’s most vulnerable people from slavery and violence; the Brain Tumour Charity funds scientific research and supports patients and their families. </p>'],
        
        ["../Images/Samaritans.png",
        '<h2>Our Charities: <a href="http://www.samaritans.org/branches/samaritans-edinburgh-and-lothians">Samaritans of Edinburgh and the Lothians</a></h2>'+
        '<p>In March 2016 we chose to support our local branch of the Samaritans, who provide support to anyone who needs it with the vision that few people will die by suicide. We had a great concert performing Dvorak’s New World Symphony alongside two of John Williams’ famous film scores: Jurassic Park and Star Wars. We were also able end the concert by bring both choir and orchestra together for a joint performance of Elbow’s One Day Like This. Combined with our ever-popular interval bake sale we raised £360.</p>'],
        
        ["../Images/Tour16.jpg",
        '<h2>Our Charities: Tour 2016</h2>'+
        '<p>Our second annual tour returned to the Lake District with a tough act to follow! There was a lot less snow but a lot of recent rain resulting in some devastating floods across the region so choosing to support the Maryport lifeboats seemed particularly appropriate. They are an independent crew who played a big role in evacuating people to safety during the floods. With our second concert we also supported a local church youth group and managed to raise £550 over the weekend. Combine that with a slightly soggy hill walk and an excellent morning at Maryport Clip ‘n Climb and you have the recipe for a fantastic weekend. Roll on next year!</p>'],
        
        ["../Images/500Miles.jpg",
        '<h2>Our Charities: <a href="http://www.500miles.co.uk/">500 Miles</a></h2>'+
        '<p>In November 2015 our winter concert and ceilidh raised £640 for 500 Miles, a figure that we’re all incredibly proud of. Olivia Giles, founder of the charity, came to speak for us about the fantastic work that this charity does in providing prosthetic limbs to people in Sub-Saharan Africa. The charity has made a huge difference to the lives of many people and the money we raised should be enough to get 4 people up and walking again using sustainable suppliers, and employing local people.</p>'],

        ["../Images/Tour15.jpg",
        '<h2>Our Charities: Tour 2015</h2>'+
        '<p>In January we made Musical Medics history by taking (almost) the entire society on tour “in and around” the Lake District for the very first time! This was a hugely exciting weekend and one that we hope everyone will remember fondly, and not just for the blizzard that decided to disrupt our Friday travel plans. We held two concerts: in Maryport supporting Jigsaw, a Cumbrian children’s charity and in Penrith donating money to the restoration of the church organ and a hospital founded by members of the congregation in India. On counting the pennies we were stunned to learn that we had raised £1000 for these causes making this a truly special weekend all round.</p>']
        
    ]

    var infoIndex = getRandomInt(0, info.length);
    
    function loadInfo(index)
    {
        if (info.length == 0) return;

        var banner = document.getElementById("infobanner");
        var host   = document.getElementById("info_host");

        banner.style.backgroundImage = 'url(' + info[index][0] + ')';
        host.innerHTML               = info[index][1];
    }

    function infoLeft()
    {
        if (--infoIndex == -1) { 
            infoIndex = info.length - 1;
        }
        loadInfo(infoIndex)
    }
    function infoRight()
    {
        if (++infoIndex == info.length) { 
            infoIndex = 0;
        }
        loadInfo(infoIndex)
    }


    loadInfo(infoIndex)
</script>
@section infobanner {
<div id="infobanner">
    <div class="arrowL" onclick="infoLeft()"></div>
    <div class="arrowR" onclick="infoRight()"></div>
    <div id="info_host" class="overlay"></div>
</div>
}

<div>
    <h1>Concerts</h1>
    <p>We use all our concerts to raise money for charity, with a focus on local medical causes. Our charities are chosen by our members
        through a vote early in the term, so if you are passionate about a cause please speak to our <a href="~/AboutUs#committee">Charities Co-ordinator</a>. You can see
    some of the charities we have supported in the past in the slideshow above.</p>
    <hgroup class="title">    
    <h2>Winter Concert</h2>
    <h3>Sunday, 27th November 2016
    </br>In Aid of It's Good to Give</h3>
    </hgroup>
    <section id="loginForm">
        <ol class="round">
            <li>
                <p><b>Hungarian Dances</b></p>
                <p>Brahms</p>
                <p>Orchestra</p>
            </li>
            <li>
                <p><b>Symphony No. 5</b></p>
                <p>Beethovan</p>
                <p>Orchestra</p>
            </li>
            <li>
                <p><b>Music from Titanic</b></p>
                <p>James Horner</p>
                <p>Orchestra</p>
            </li>
            <li>
                <p><b>Themes by James Newton Howard</b></p>
                <p>Arr. James Renwick & Amber-Rose Ness</p>
                <p>String Ensemble</p>
            </li>
            <li>
                <p><b>Test Drive (How to Train Your Dragon)</b></p>
                <p>John Powell arr. Charis Duong</p>
                <p>Flute Choir</p>
            </li>
            <li>
                <p><b>Friend Like Me (Alladin)</b></p>
                <p>Alan Menken</p>
                <p>Brass Band</p>
            </li>
        </ol>
    </section>
    <section id="socialLoginForm">
        <ol class="round">
            <li>
                <p><b>The Lion King</b></p>
                <p>Broadway Medley</p>
                <p>Choir</p>
            </li>
            <li>
                <p><b>A Clare Benediction</b></p>
                <p>Rutter</p>
                <p>Choir</p>
            </li>
            <li>
                <p><b>Stand By Me</b></p>
                <p>Ben E. King</p>
                <p>Choir</p>
            </li>
            <li>
                <p><b>Libera Me</b></p>
                <p>Faure Requeim</p>
                <p>Choir</p>
            </li>
            </li>
        </ol>
    </section>
</div>