@{
    Layout     = "~/_SiteLayout.cshtml";
}

<section class="main-margin vertical-padding">
    <h1>Our Constitution</h1>
    <h3>Title</h3>
    <p>The name of the society shall be Edinburgh University Musical Medics, hereinafter referred to as the Society.
    </p>
    <h3>Aims</h3>
    <p>The aims of the society shall be:</p>
    
        <ol class="round">
            <li>
                <p>To maintain both a choir and an orchestra, giving high-quality public performances at least twice each academic year.</p>
            </li>
            <li><p>By appropriate scheduling of rehearsals and concerts, and a relaxed approach to rehearsal attendance, to make the society accessible to all students with many curricular commitments.</p></li>
            <li><p>It shall be a non-auditioning orchestra with informal auditions for leader of 1st and 2nd violin sections for the orchestra at the committee’s discretion.</p></li>
            <li><p>Through ticket sales for concerts, and other musical activities (for example, carol singing), to raise money for charitable bodies (with a emphasis towards medical charities) or for other such purposes as shall be exclusively charitable as the Committee may from time to time decide.
            </p></li>
        </ol>
            
    <h3>Membership</h3>
    <p>Membership shall be open to all matriculated students of Edinburgh University, and membership shall be at least 75% matriculated students of Edinburgh University.  
        The annual subscription rate shall be determined by the committee.
    </p>
    <h3>Officers and Committee</h3>
    <p>The management of the Society shall be in the hands of a Committee consisting of the conductor(s) of the choir and orchestra and the following office-bearers: 
        President, Secretary, Treasurer, Social Secretary, Tour Manager, Publicity Manager, Charities Co-ordinator, Choir Librarian, Orchestra Librarian.  
        All office-bearers shall be subject to election annually.  
        The President, Secretary and Treasurer of the Society shall be matriculated students of Edinburgh University.
    </p>
    <h3>Equal Opportunities</h3>
    <p>No individual shall be excluded from membership of the Society or de-barred from any official capacity on the Committee on the grounds of sex, race, colour, religion, sexual orientation or political affiliation.
    </p>
    <h3>Finance</h3>
    <p>The financial year shall end on 31 April.  EUSA banking will be used for finances.
    </br>The income of the Society shall be applied solely towards promoting the objects of the Society as set forth above and no portion thereof shall be paid or transferred either directly or indirectly to any member or members of the Society, except in payment of legitimate expenses incurred on behalf of the Society.
    </p>
    <h3>Dissolution</h3>
    <p>In the event of the Society being wound up, any assets remaining upon dissolution after the payment of proper debts and liabilities shall be transferred to Medecins Sans Frontieres.
    </p>
    <h3>Annual General Meeting</h3>
    <p>Within 4 months of the end of each financial year members shall be summoned to an Annual General Meeting.  
        All members will receive at least 14 days written notification of the Annual General Meeting and of elections not held at the AGM.
    </p>
    <h3>Accounts</h3>
    <p>The financial accounts shall be audited or examined to the extent required by legislation or, if there is no such requirement, scrutinised by a person who is independent of the Committee and then submitted to the members at the Annual General Meeting.
    </p>
    <h3>Amendments</h3>
    <p>Constitutional amendments shall require two-thirds majority at a General Meeting open to all members, 14 days notice of which shall be given.  The quorum of such a General meeting shall be 10 members.  No amendment will have the effect of the Society ceasing to become a charity.
    </p>
</section>
