@{
    Layout     = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<link href="Content/base.css" rel="stylesheet"></link>
<script src="Scripts/github-repos.min.js"></script>


<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Our contact details.</h2>
</hgroup>

<article>
    <br />
    <h2>The Librarian Team</h2>


    <div class="contact">
        <img src="Images/Katie.jpg" style="float: left" width="94" />

        <p class="name">Katie Howie</p>
        <p class="title">Choral Librarian</p>
        <p class="email">&nbsp;</p>
    </div>
    <div class="contact">
        <img src="Images/James.jpg" style="float: left" width="94" />

        <p class="name">James Renwick</p>
        <p class="title">Orchestral Librarian</p>
        <p class="email">jsrenwick3@gmail.com</p>
    </div>

    <br/>
    <h2 style="margin-top: 50px">The Society</h2>
    <div style="margin-top: 20px">
        
        <p><a href="http://www.eusa.ed.ac.uk/societies/society/EUMM2011/">
            Society Webpage</a></p>
        <p><a href="https://www.facebook.com/groups/307200819293452/">
            Society Facebook Group</a></p>
        <p><a href="https://twitter.com/EUMusicalMedics">
            Society Twitter</a></p>
        <br/>

        <p>Email us at <a href="mailto:edinburghmusicalmedics@gmail.com">
            edinburghmusicalmedics@gmail.com</a></p>

    </div>
</article>

<br/>

<div class="github-widget" data-repo="jsren/EUMM-Website"></div>
<script>
    GHRepos.create('.github-widget');
</script>