@{
    Layout = "~/_SiteLayout.cshtml";
}

<section class="main-margin vertical-padding">
    <h1>Events</h1>
    <p>We like to keep you busy with our weekly rehearsals and active social side so to keep you right here's our calendar with details 
        of all the events we currently have planned. You can click on the individual events for more details. This page is regularly updated
        so make sure you keep an eye out for new socials etc. coming your way! You can also join us on 
        <a href="https://www.facebook.com/groups/307200819293452/">Facebook</a> and sign up to our mailing list to make sure you don't
         miss out on anything. </br>
We like to make sure we have something for everyone so if you have any suggestions for future events please get in touch with our 
    <a href="~/AboutUs#committee">social secretary</a>. </p>
    
</section>


@section head {
    <link type="text/css" rel='stylesheet' href='~/Scripts/fullcalendar/fullcalendar.css' />
    <script type='text/javascript' src='~/Scripts/fullcalendar/lib/moment.min.js'></script>
    <script type='text/javascript' src='~/Scripts/fullcalendar/fullcalendar.min.js'></script>
    <script type='text/javascript' src='~/Scripts/fullcalendar/gcal.js'></script>
}

<section>
    <div id="calendar-disabled">
        
    </div>
</section>

<script type='text/javascript'>
$('#calendar').fullCalendar({
    googleCalendarApiKey: 'AIzaSyBTDREMRiyGnVVGS97tTj4fqrEcuQZJvJY',
    events: {
        googleCalendarId: "edinburghmusicalmedics@gmail.com"
    }
});
</script>

<section class="main-margin vertical-padding">
    <iframe class="center" src="https://www.google.com/calendar/embed?showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=edinburghmusicalmedics%40gmail.com&amp;color=%23875509&amp;ctz=Europe%2FLondon" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
</section>

