@{
    Layout = "~/_SiteLayout.cshtml";
}

<section class="main-margin vertical-padding">
    <h1>Events and Concerts</h1>
    <p>We like to keep you busy with our weekly rehearsals and active social side so to keep you right here's our calendar with details 
        of all the events we currently have planned. You can click on the individual events for more details. This page is regularly updated
        so make sure you keep an eye out for new socials etc. coming your way! You can also join us on 
        <a href="https://www.facebook.com/groups/307200819293452/">Facebook</a> and sign up to our mailing list to make sure you don't
         miss out on anything. </br>
We like to make sure we have something for everyone so if you have any suggestions for future events please get in touch with our 
    <a href="~/AboutUs#committee">social secretary</a>. </p>
    <p>At the bottom of this page you'll also find all the details of our recent (and upcoming) concerts with a full list of our musical
    repertoire. To have your say on future music head over to the <a href="~/Library/Suggest">Suggestions</a> page of the music library to nominate and
    vote on your favourite pieces.</p>
</section>


@section head {
    <link type="text/css" rel='stylesheet' href='~/Scripts/fullcalendar/fullcalendar.css' />
    <script type='text/javascript' src='~/Scripts/fullcalendar/lib/moment.min.js'></script>
    <script type='text/javascript' src='~/Scripts/fullcalendar/fullcalendar.min.js'></script>
    <script type='text/javascript' src='~/Scripts/fullcalendar/gcal.js'></script>
}

<section>
    <div id="calendar-disabled">
        
    </div>
</section>

<script type='text/javascript'>
$('#calendar').fullCalendar({
    googleCalendarApiKey: 'AIzaSyBTDREMRiyGnVVGS97tTj4fqrEcuQZJvJY',
    events: {
        googleCalendarId: "edinburghmusicalmedics@gmail.com"
    }
});
</script>

<section class="main-margin vertical-padding">
    <iframe class="center" src="https://www.google.com/calendar/embed?showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=edinburghmusicalmedics%40gmail.com&amp;color=%23875509&amp;ctz=Europe%2FLondon" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
</section>

<div>
    <h1>Concerts</h1>
    <hgroup class="title">    
    <h2>Dvorak & Williams</h2>
    <h3>Spring Concert - Saturday, 30th April 2016</h3>
    </hgroup>
    <section id="loginForm">
        <ol class="round">
            <li>
                <p><b>New World Symphony</b></p>
                <p>Dvorak</p>
                <p>Orchestra</p>
            </li>
            <li>
                <p><b>Highlights from Jurassic Park</b></p>
                <p>John Williams</p>
                <p>Orchestra</p>
            </li>
            <li>
                <p><b>Music from Star Wars</b></p>
                <p>John Williams arr. James Renwick</p>
                <p>String Ensemble</p>
            </li>
            <li>
                <p><b>Concerning Hobits & Misty Mountains</b></p>
                <p>Howard Shore</p>
                <p>Gwyd and the Brasslets</p>
            </li>
            <li>
                <p><b>Pavane</b></p>
                <p>Faure arr. C. Marsh</p>
                <p>Flute Choir</p>
            </li>
            <li>
                <p><b>Don't Stop Me Now</b></p>
                <p>Freddie Mercury</p>
                <p>The Brasstronauts</p>
            </li>
        </ol>
    </section>
    <section id="socialLoginForm">
        <ol class="round">
            <li>
                <p><b>Don't Stop Believing</b></p>
                <p>Journey</p>
                <p>Choir</p>
            </li>
            <li>
                <p><b>The Merciful Goodness of the Lord</b></p>
                <p>Handel</p>
                <p>Choir and Strings</p>
            </li>
            <li>
                <p><b>Seasons of Love</b></p>
                <p>Jonathan Larson</p>
                <p>Choir</p>
            </li>
            <li>
                <p><b>Champions League Theme</b></p>
                <p>Tony Britten</p>
                <p>Choir and Strings</p>
            </li>
            <li>
                <p><b>Locus Iste</b></p>
                <p>Bruckner</p>
                <p>Choir</p>
            <li>
                <p><b>One Day Like This</b></p>
                <p>Elbow</p>
                <p>Choir and Orchestra</p>
            </li>
            </li>
        </ol>
    </section>
</div>