@{
    Layout = "~/_SiteLayout.cshtml";
}
<section class="main-margin vertical-padding">
    
   
    
    
     <h2>Christmas Concert 2017</h2>
    <p>3rd December 2017 in the Reid Concert Hall, supporting <a href ="https://www.chas.org.uk/" target="_blank">Children's Hospices Across Scotland</a></p>
    <div style="position: relative; padding-bottom: 60%; overflow: auto; -webkit-overflow-scrolling:touch;"><iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=72157669261700159&sort=0&by=album&theme=default&scale=fit&skin=default&id=      scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe><small style="display: block; text-align: center; position: absolute; bottom: 0; left: 0; right: 0; margin-left: auto; margin-right: auto;"></small></div>
    
    <h2>Tour 2017</h2>
    <p>In January 2017 we had an excellent weekend in Aberdeenshire, exploring Dunnottar Castle, perfecting our archery, eating ice cream and having a massive sleep-over complete with all the party games. Oh, and putting on two concerts!</p>
    <div style="position: relative; padding-bottom: 60%; overflow: auto; -webkit-overflow-scrolling:touch;"><iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=72157678403429400&sort=0&by=album&theme=default&scale=fit&skin=default&id=5896198b64849" scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe><small style="display: block; text-align: center; position: absolute; bottom: 0; left: 0; right: 0; margin-left: auto; margin-right: auto;"></small></div>
    
    <h2>Christmas Concert 2016</h2>
    <p>27th November 2016 in the Reid Concert Hall, supporting <a href ="http://www.itsgood2give.co.uk/" target="_blank">It's Good 2 Give</a></p>
    <div style="position: relative; padding-bottom: 60%; overflow: auto; -webkit-overflow-scrolling:touch;"><iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=72157676473032323&sort=0&by=album&theme=default&scale=fit&skin=default&id=589612cd8eb06" scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe><small style="display: block; text-align: center; position: absolute; bottom: 0; left: 0; right: 0; margin-left: auto; margin-right: auto;"></small></div>
    
    <h2>Tour 2016</h2>
    <p>A return to the Lake District for our second annual tour featured two concerts, some cloudy hill walking and a hilarious visit to Maryport Clip n Climb.</p>
    <div style="position: relative; padding-bottom: 60%; overflow: auto; -webkit-overflow-scrolling:touch;"><iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=72157678164889011&sort=0&by=album&theme=default&scale=fit&skin=default&id=5896198b64849" scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe><small style="display: block; text-align: center; position: absolute; bottom: 0; left: 0; right: 0; margin-left: auto; margin-right: auto;"></small></div>
    
    <h2>Christmas Concert 2015</h2>
    <p>28th November 2015 in Priestfield Church, supporting  <a href ="http://www.500miles.co.uk/" target="_blank">500 Miles</a></p>
    <div style="position: relative; padding-bottom: 60%; overflow: auto; -webkit-overflow-scrolling:touch;"><iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=72157678165050901&sort=0&by=album&theme=default&scale=fit&skin=default&id=5896198b64849" scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe><small style="display: block; text-align: center; position: absolute; bottom: 0; left: 0; right: 0; margin-left: auto; margin-right: auto;"></small></div>
    
    
</section>
