@{
    Layout = "~/_SiteLayout.cshtml";
}
<section class="main-margin vertical-padding">
    <p>Apologies for the delay in uploading new photos. This page was previously supported by Picassa which sadly no longer exists.
        We are looking into alternatives, but for now please enjoy our previous albums while they remain available. 
    </p>
    <table>
        <tr><td><h2>Lakes Tour 2.0, 2016</h2><embed type="application/x-shockwave-flash" src="https://photos.gstatic.com/media/slideshow.swf" width="288" height="192" flashvars="host=picasaweb.google.com&hl=en_GB&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F104060591774826031890%2Falbumid%2F6255955466722551841%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_GB" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
        </td>
        <td><h2>Christmas Concert 2015</h2><embed type="application/x-shockwave-flash" src="https://photos.gstatic.com/media/slideshow.swf" width="288" height="192" flashvars="host=picasaweb.google.com&hl=en_GB&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F104060591774826031890%2Falbumid%2F6255936423456430513%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_GB" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
        </td>
        <td><h2>Spring Concert 2015</h2><embed type="application/x-shockwave-flash" src="https://photos.gstatic.com/media/slideshow.swf" width="288" height="192" flashvars="host=picasaweb.google.com&noautoplay=1&hl=en_GB&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F104060591774826031890%2Falbumid%2F6171048065697840305%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_GB" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
        </td>
        </tr><tr><td><h2>Lake District Tour 2015</h2><embed type="application/x-shockwave-flash" src="https://photos.gstatic.com/media/slideshow.swf" width="288" height="192" flashvars="host=picasaweb.google.com&noautoplay=1&hl=en_GB&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F104060591774826031890%2Falbumid%2F6106151713097940577%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCLLYgKDR6J-WOg%26hl%3Den_GB" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
        </td>
        <td><h2>Christmas Concert 2014</h2><embed type="application/x-shockwave-flash" src="https://photos.gstatic.com/media/slideshow.swf" width="288" height="192" flashvars="host=picasaweb.google.com&noautoplay=1&hl=en_GB&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F104060591774826031890%2Falbumid%2F6106500592220688705%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCKj34vDC0oLD4wE%26hl%3Den_GB" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
        </td>
        <td></td>
        </tr>
    </table>
</section>
