@{
    Page.Title = "Music";
    Layout     = "~/_SiteLayout.cshtml";
}

<div>
    <hgroup class="title">
        <h1>Semester 2</h1>
        <h2>Strauss, Shore & Bizet</h2>
    </hgroup>
    <h3>Spring Concert - Friday, 27 March</h3>

    <section id="loginForm">
        <ol class="round">
            <li class='one'>
                <p><b>The Lord of the Rings: The Two Towers</b></p>
                <p>Howard Shore</p>
                <p>Orchestra</p>
            </li>
            <li class='two'>
                <p><b>Carmen Suite I</b></p>
                <p>Georges Bizet</p>
                <p>Orchestra</p>
            </li>
            <li class='three'>
                <p><b>An der schönen blauen Donau</b></p>
                <p>Johann Strauss II</p>
                <p>Orchestra</p>
            </li>
            <li class='four'>
                <p><b>Game of Thrones</b></p>
                <p>Ramin Djawadi</p>
                <p>Orchestra & Choir</p>
            </li>
            <li class='five'>
                <p><b>A Selection from Film</b></p>
                <p>Various Authors</p>
                <p>Brass</p>
            </li>
        </ol>
    </section>
    <section id="socialLoginForm">
        <ol class="round">
            <li class='one'>
                <p><b>Wicked</b></p>
                <p>Stephen Schwartz</p>
                <p>Choir</p>
            </li>
            <li class='two'>
                <p><b>If Ye love Me</b></p>
                <p>Thomas Tallis</p>
                <p>Choir</p>
            </li>
            <li class='two'>
                <p><b>Sit Down You're Rockin' the Boat</b></p>
                <p>Frank Loesser</p>
                <p>Choir</p>
            </li>
        </ol>
    </section>

    
</div>