@{
    Page.Title = "Music";
    Layout     = "~/_SiteLayout.cshtml";
}

<div>
    <hgroup class="title">
        <h1>Semester 1</h1>
        <h2>Badelt & Haydn</h2>
    </hgroup>
    <h3>Winter Concert - Saturday, 29 November</h3>

    <section id="loginForm">
        <ol class="round">
            <li class='one'>
                <p><b>Pirates of the Caribbean</b></p>
                <p>Klaus Badelt</p>
                <p>Orchestra</p>
            </li>
            <li class='two'>
                <p><b>Symphony No. 104 "London" (I & IV)</b></p>
                <p>Joseph Haydn</p>
                <p>Orchestra</p>
            </li>
            <li class='three'>
                <p><b>Radetsky March</b></p>
                <p>Johann Strauss I</p>
                <p>Orchestra</p>
            </li>
            <li class='four'>
                <p><b>Sleigh Ride</b></p>
                <p>Leroy Anderson</p>
                <p>Orchestra & Choir</p>
            </li>
            <li class='five'>
                <p><b>Bohemian Rhapsody</b></p>
                <p>Queen</p>
                <p>Brass</p>
            </li>
        </ol>
    </section>
    <section id="socialLoginForm">
        <ol class="round">
            <li class='one'>
                <p><b>Les Misérables</b></p>
                <p>Claude-Michel Schönberg</p>
                <p>Choir</p>
            </li>
            <!--li class='two'>
                <p><b>Oh Happy Day</b></p>
                <p>Teena Chinn</p>
                <p>Choir</p>
            </li-->
            <li class='two'>
                <p><b>Sleep</b></p>
                <p>Eric Whitacre</p>
                <p>Choir</p>
            </li>
            <!--li class='four'>
                <p><b>O Magnum Mysterium</b></p>
                <p>Francis Poulenc</p>
                <p>Choir</p>
            </li-->
            <li class='three'>
                <p><b>Blackbird</b></p>
                <p>Daryl Runswick</p>
                <p>Choir</p>
            </li>
            <li class='four'>
                <p><b>Lascia ch'io Pianga</b></p>
                <p>George Frideric Handel</p>
                <p>Choir</p>
            </li>
        </ol>
    </section>

    
</div>