@{
    Page.Title = "Thank You";
    Layout     = "~/_SiteLayout.cshtml";
}

<div>
    @if (Request.QueryString["err"] == "Success")
    {
        <h1>Thank You for Using the Online Library</h1>
        <h3>Your request has been successfully submitted.</h3>
    }
    else
    {
        <h1>An Error Occurred</h1>
        <h3>An error occurred while attempting to service your request.
            If this persists, please contact the <a href="mailto:@Website.Webmaster?subject=Request%20Error">administrator</a>.</h3>
    }
</div>