#infobanner {
    background-color   : #FFFFFF; 
    background-size    : cover; 
    background-repeat  : no-repeat; 
    background-position: center; 
    margin             : 0 auto; 
    padding            : 0px !important; 
    max-width          : 1040px;
    position           : relative;
}

#infobanner .arrowL, #infobanner .arrowR {
    background-size  : 100%;
    background-repeat: no-repeat;
    width            : 40px;
    height           : 100%;
    position         : absolute;
    cursor           : pointer;
}
#infobanner .arrowL:hover, #infobanner .arrowR:hover {
    background-color: rgba(0, 0, 0, 0.31);
}

#infobanner .arrowL {
    background-image   : url(/Images/arrow_left.png);
    background-position: left center;
    padding-left       : -5px;
}
#infobanner .arrowR {
    background-image   : url(/Images/arrow_right.png);
    background-position: right center;
    right              : 0;
    padding-right      : -5px;
}

#infobanner .overlay {
    background: rgba(255,255,255,.75); 
    padding   : 20px 40px 30px 40px;
}

.multipanel {

}

.multipanel .reset-btn {
    margin : 0 auto;
    padding: 8px 15px;
    display: block;
}

.multipanel .panel {
    background-color   : white;
    border             : 1px solid #d0d0d0;
    margin             : 0 auto;
    max-width          : 800px;
    padding            : 20px;
    background-position: 20px 20px;
    background-repeat  : no-repeat;
    margin-bottom      : 18px;
}
.multipanel .panel[data-number="0"] {
    background-image: url(/Images/orderedList0.png);
}
.multipanel .panel[data-number="1"] {
    background-image: url(/Images/orderedList1.png);
}
.multipanel .panel[data-number="2"] {
    background-image: url(/Images/orderedList2.png);
}
.multipanel .panel[data-number="3"] {
    background-image: url(/Images/orderedList3.png);
}
.multipanel .panel[data-number="4"] {
    background-image: url(/Images/orderedList4.png);
}
.multipanel .panel[data-number="5"] {
    background-image: url(/Images/orderedList5.png);
}
.multipanel .panel[data-number="6"] {
    background-image: url(/Images/orderedList6.png);
}
.multipanel .panel[data-number="7"] {
    background-image: url(/Images/orderedList7.png);
}
.multipanel .panel[data-number="8"] {
    background-image: url(/Images/orderedList8.png);
}
.multipanel .panel[data-number="9"] {
    background-image: url(/Images/orderedList9.png);
}
.multipanel .panel[data-number="10"] {
    background-image: url(/Images/orderedList10.png);
}
.multipanel .panel[data-number="11"] {
    background-image: url(/Images/orderedList11.png);
}
.multipanel .panel[data-number="12"] {
    background-image: url(/Images/orderedList12.png);
}
.multipanel .panel[data-number="13"] {
    background-image: url(/Images/orderedList13.png);
}
.multipanel .panel[data-number="14"] {
    background-image: url(/Images/orderedList14.png);
}

.multipanel .panel .title {
    margin-left  : 40px;
    margin-top   : 0px;
    margin-bottom: 20px;
}

.multipanel .panel .content {
    margin-left: 40px;
}

.multipanel .panel .content-center {
    text-align: center;
}
.multipanel .panel .content-center * {
    display: inline-block;
}