@{
    Page.Title = "Legal";
    Layout     = "~/Library/_SiteLayout.cshtml";
}

<div>
    <h1>The Legal Bit</h1>
    <br />
    THE SOCIETY herein refers to "Edinburgh University Musical Medics" society.

    <p>The following document is an agreement between The Society and you. This agreement
    suppliments any existing terms you may have with The Society and The University of Edinburgh.</p>

    <p>The terms apply to services not limited to: </p>
    <ul>
        <li>the registration and storage of your personal information,</li>
        <li>and the lending of copyrighted sheet music</li>
    </ul>

    <p>BY USING THIS SERVICE YOU ACCEPT THESE TERMS. IF YOU DO NOT ACCEPT THEM,
    DO NOT USE THIS SERVICE.</p>

    <h3>Software Terms</h3>
    You may not attempt to disassemble, modify, copy or redistribute the software
    used by the service. The software and all logic remain the property of James
    S Renwick under license to The Society except where otherwise stated.

    <h3>Your Personal Information</h3>
        The service may collect usage data for the purpose of error diagnostics without
        notifying you. The Society does not use this information to identify or contact you.
        You consent to our storage of your personally identifiable data, under an apporiate
        level of security, solely in order to fulfil the services provided.
    <p>
        If The Society sees fit to do so, anonymous usage data collected by the service may be
        shared with 3rd parties for the purpose of analysis.
    </p>

    <h3>Lending Sheet Music</h3>
    By loaning you a digital or physical copy of copyrighted sheet music,
    you accept that you are bound by copyright law. You may not make further copies
    from those provided by The Society; nor may you loan, sell, distribute or otherwise
    transfer your copy.
    <p>You may not use more than one copy of the sheet music except where the owner or copyright holder 
    states otherwise. The sheet music remains the property of either The Society, Edinburgh University Library or the
    original owner.</p>
    <p>Where The Society lends you the original sheet music, you may make one and only one
    copy for reasons which constitute "fair use". This copy must be destroyed before returning
    the original.</p>
    <p>The sheet music shall be loaned to you for a set period of time. After that time elapses,
    you must return the music to The Society. Alternatively, if you possess a copy of original
    music, you may elect to destroy your copy.</p>
    <p>In the case of digital copies, these must always be destroyed before the lease period ends. 
    If required, you may be asked to give proof of their destruction.</p>
    <p>If you lose, damage or deface the original sheet music, The Society may exercise the
    right to deduct from your deposit and to charge you an additional fee, the sum total 
    of which being not greater than the original value of the sheet music.</p>

    <h3>Disclaimer of Warranty</h3>
    <p>THE SOCIETY GIVES TO YOU NO EXPRESS WARRANTIES, GUARANTEES OR CONDITIONS.
    THE SOCIETY IS NOT RESPONSIBLE FOR ANY LOSS OF DATA OR DAMAGES, DIRECT OR INDIRECT, 
    INCURRED BY USE OF THESE SERVICES.
    </p>
</div>