@{
    Page.Title = "Recordings";
    Layout     = "~/Library/_SiteLayout.cshtml";
}

<style>
    .video-host {
        box-shadow: #555 0 0 5px;
        padding   : 25px;
    }
    .video-host h2 {
        margin-bottom: 40px;
    }
    .video-host .embed {
        width : 100%;
        height: 350px;
    }
</style>

<div>
    <hgroup class="title">
        <h1>Recordings.</h1>
        <h2>Audio clips and videos of pieces.</h2>
    </hgroup>

    <br/>

    <section class="video-host">
        <h2>Frozen (Choral Highlights)<small> - Kristen Anderson-Lopez, Robert Lopez</small></h2>
        <h4>Vocals and Accompaniment</h4>
        <div>
            <audio controls>
              <source src="~/Content/audio/frozen_full.mp3" type="audio/mpeg"/>

              Your browser does not support the audio element. <br />
              If possible, please upgrade or switch to a more modern browser. 
              Otherwise, <a href="~/Contact">contact</a> the librarian team for assistance.
            </audio>
        </div>
        
        <br />
        <h4>Accompaniment Only</h4>
        <div>
            <audio controls>
              <source src="~/Content/audio/frozen_accompany.mp3" type="audio/mpeg"/>

              Your browser does not support the audio element.
            </audio>
        </div>
    </section>

    <br />
    <br />

    <section class="video-host">
        <h2>Music from Gladiator<small> - Hans Zimmer</small></h2>
        <div>
            <iframe class="embed" src="https://www.youtube.com/embed/X6CrWAeLX_8" frameborder="0"></iframe>
        </div>
    </section>

    <br />
    <br />

    <section class="video-host">
        <h2>Peer Gynt Suite No. 1<small> - Edvard Grieg</small></h2>
        <h4>I. Morning Mood</h4>
        <div>
            <iframe class="embed" src="https://www.youtube.com/embed/kzTQ9fjforY" frameborder="0"></iframe>
        </div>

        <br/>
        <h4>IV. In the Hall of the Mountain King</h4>
        <div>
            <iframe class="embed" src="https://www.youtube.com/embed/kLp_Hh6DKWc" frameborder="0"></iframe>
        </div>
    </section>

</div>