@{
    Page.Title = "Thank You";
    Layout     = "~/Library/_SiteLayout.cshtml";

    int partID;

    if (IsPost)
    {
        try
        {
            string path = LoanHelper.GetDownloadPath(Request.QueryString["dl"]);
            Website.RedirectToDownload(path, Website.MimeTypeFromFilename(path), Response);
        }
        catch (System.Threading.ThreadAbortException) { throw; }

        catch (Exception e)
        {
            var errorType = HttpUtility.UrlEncode(e.GetType().ToString());
            var errorDesc = HttpUtility.UrlEncode(e.Message);
            Response.RedirectPermanent(String.Format("ThankYou?err={0}&desc={1}", errorType, errorDesc));
        }
    }
}

<div>
    @if (Request.QueryString["err"] == "Success")
    {
        <h1>Thank You for Using the Online Library</h1>
        <h3>Your request has been successfully submitted.</h3>
    }
    else if (Request.QueryString["err"] == "Download" && 
        !String.IsNullOrWhiteSpace(Request.QueryString["dl"]) && 
        int.TryParse(Request.QueryString["dl"], out partID))
    {
        <h1>Thank You for Using the Online Library</h1>
        <h3>Your download should begin soon.</h3>
        <br/>

        <script>
            function submitdl() {
                document.getElementById("dl-post").submit();
            }
            window.setTimeout(submitdl, 2000);
        </script>

        <form id="dl-post" method="post">
            <p>If your download does not start within three seconds, please click 
                <a href="#" onclick="submitdl()">here</a> to try again.</p>
        </form>
    }
    else
    {
        var errorType = Request.QueryString["err"];
        var errorDesc = Request.QueryString["desc"];

        <h1>An Error Occurred</h1>
        <h3>An error occurred while attempting to service your request.
            If this persists, please contact the

         <a href="mailto:@Website.Webmaster?subject=[Request%20Error]%20Online%20Library&body=@errorType%20_@errorDesc">
            administrator</a>.</h3>
    }
</div>
