@using WebMatrix.WebData;
@{
    // Redirect to error if not authenticated
    if (!WebSecurity.IsAuthenticated || !UserHelper.IsAdmin()) {
        Response.RedirectPermanent("~/Library/ThankYou"); return;
    }

    var action = Request.QueryString["action"];
    var redir  = Request.QueryString["redir"];

    if (action == "cancel")
    {
        var reqID = Request.QueryString["req"];
        if (reqID != null) { LoanHelper.CancelRequest(reqID.AsInt()); }
    }
    else if (action == "disablepiece")
    {
        var piece = Request.QueryString["id"];
        if (piece != null) { LoanHelper.SetPieceFlags(piece, false, false); }
    }
    else if (action == "removesuggestion")
    {
        var suggestion = Request.QueryString["id"];
        if (suggestion != null) { Suggestions.Remove(suggestion.AsInt()); }
    }

    if (redir == "TODO") { Response.RedirectPermanent("~/Admin/Loans"); }
    else if (redir == "pieces") { Response.RedirectPermanent("~/Admin/Library"); }
    else if (redir == "suggestions") { Response.RedirectPermanent("~/Admin/Suggestions"); }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>Please wait...</h1>
    </body>
</html>
