@using WebMatrix.WebData
@using WebMatrix.Data
@using System.Linq;
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
@{
    WebSecurity.RequireAuthenticatedUser();

    Layout     = "~/Library/_SiteLayout.cshtml";
    Page.Title = "Suggestions";

    if (!UserHelper.IsAdmin()) {
        Response.Redirect("~/");
    }

    Validation.RequireField("uun", Locale.Messages["ErrorUUN"]);
    Validation.Add("uun", Validator.Regex(Website.UUNRegex, Locale.Messages["ErrorUUN"]));

    Validation.RequireField("fname", "You must give a first name.");
    Validation.RequireField("lname", "You must give a last name.");

    bool errUUN   = !ModelState.IsValidField("uun");
    bool errFName = !ModelState.IsValidField("fname");
    bool errLName = !ModelState.IsValidField("lname");

    // Query for suggestions
    var db = Database.Open(Website.DBName);
    var suggestions = Suggestions.GetAll();
}

<hgroup class="title">
    <h1>Suggestions.</h1>
    <h2>Manage Piece Suggestions.</h2>
</hgroup>
<br/>
<section>
<h2>Current Suggestions</h2>
<br/>
<form method="post" id="form">
<input type="hidden" name="function" value="set-suggestion" />
<table>
    <tr>
        <td><b>Title</b></td>
        <td><b>Group</b></td>
        <td><b>Endorsements</b></td>
        <td><b>Suggester</b></td>
        <td><b>Manage</b></td>
    </tr>

    @foreach (var row in suggestions)
    {
        <tr>
            <td>@row.Title</td>
            <td><a href="~/Admin/GroupMembers.cshtml?groupID=@row.Group.ID&groupName=@Uri.EscapeDataString(row.Group.Name)">@row.Group.Name</a></td>
            <td></td>
            <td></td>
            <td>
                <a href="~/Admin/do?redir=suggestions&action=removesuggestion&id=@row.Suggestion"
                   onclick="return confirm('Are you sure you wish to remove this suggestion?')">Remove</a>
                <input type="hidden" name="@row.Suggestion-id" />
            </td>
        </tr>
    }
</table>
<br/>
</form>
</section>